@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.main-container {
 
}
.title {
  text-align: center;
}
.h1-title {
  border-bottom: solid 2px red;
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;
}
.del {
  display: block;
  position: fixed;
  font-size: 25px;
  right: 10px;
  top: 20px;
  z-index: 2;
}
.add-task {
  display: block;
  position: fixed;
  font-size: 25px;
  right: 10px;
  bottom: 10px;
  z-index: 2;
}
.ant-card-body {
  cursor: pointer;
}
.ant-tabs-tabpane {
  margin-left: 5%;
}
label {
  font-weight: 900;
}
.ant-col {
  margin-top: 3%;
  margin-right: 2%;
  margin-bottom: 2%;

}